<form action="/movies/add" method="POST">
<table>
  <tr>
    <td><label>Movie Title</label></td>
    <td><input value="" name="title" /></td>
</tr>    <br><br>
<tr>
    <td><label>Movie Language</label></td>
    <td><input value="" name="language" /></td>
</tr>    <br><br>
<tr>
    <td><label>Movie Director</label></td>
    <td><input value="" name="director" /></td>
</tr>    <br><br>
<tr>
    <td>  <label>Date Released</label></td>
    <td><input value="" name="date_released" /></td>
</tr>    <br><br>
<tr>
    <td><label>Budget</label></td>
    <td><input value="" name="budget" /></td>
</tr>    <br><br>
<tr>
    <td><label>Cast</label></td>
    <td><input value="" name="cast" /></td>
</tr>    <br><br>
</table>
    <button type="submit">Add Movie</button>
</form>
