<h1><u> Welcome to the Movie App </u></h1>

<p>
  This App will allow you to add your favorite movies in the gallery and will provide you a mechanism to retrieve it based on different listing options.
  </p>
